# FRONT-END (Next.js)
front/.next/
front/node_modules/
front/.turbo/
front/.vercel/
front/.env*

# BACK-END (exemplo Node.js)
back/node_modules/
back/dist/
back/.env*

# Arquivos gerais
*.log
.DS_Store
.cache/
